<mat-card-header>
    <mat-card-title >
      Atualizar Cidade
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
        <mat-form-field  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 input" >
          <mat-label>Descrição:</mat-label>
          <input matInput [(ngModel)]="txtDescricaoCidade" placeholder="Ex: Lutécia" autocomplete="off"/>
        </mat-form-field>
        <mat-form-field  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 input" >
          <mat-label>UF:</mat-label>
          <input matInput [(ngModel)]="txtUfCidade" maxlength="2" placeholder="Ex: SP" autocomplete="off"/>
        </mat-form-field>
      <mat-dialog-actions>
        <button class="mat-raised-button atualizar" (click)="atualizar()">Atualizar</button>
        <button class="mat-raised-button voltar" (click)="voltar()">Voltar</button>
    </mat-dialog-actions>

  </mat-card-content>