<mat-card class="example-card" style="margin-top: 30px">
    <mat-card-header>
        <mat-card-title><h1>Desenvolvido por: Leonardo Rodrigues</h1></mat-card-title>
        <mat-card-subtitle>
            <h2>
                <a href="https://github.com/lsrodrigues7">
                    GitHub - lsrodrigues7 
                </a>
            </h2>
            <h2>
                <a href="https://www.instagram.com/lsrodrigues7/">
                    Instagram - @lsrodrigues7
                </a>
            </h2>
            <h2>
                <a href="https://www.linkedin.com/in/leonardo-de-souza-rodrigues-354014154">
                    Linkedin - Leonardo de Souza Rodrigues
                </a>
            </h2>
        </mat-card-subtitle>
      </mat-card-header>
</mat-card>

